# SB3 Requirements

# To install required packages use:
# python3 -m pip install -r requirements.txt

# stable-baselines3 for RL algorithms
# 1.8.0 is the last version that supports gym.
# Starting from 2.0.0, stable-baselines3 only suppoerts Gymnasium
stable_baselines3
# how to downgrade stable-baselines3
# pip install stable-baselines3==1.8.0

# NumPy for numerical computations
numpy

# pyyaml for loading YAML files
pyyaml

# other dependencies
torch
gym
tensorboard

